{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link  rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class = 'container'>
        <h2>Вас приветствует симулятор кота <br> Для начала введите имя кота</h2>
    <div class = 'my-form'>
        <form action="/" method="post">

            {% csrf_token %}
            <br>
            <input type="text" name="name">

            <button type="submit">Создать</button>
        </form>
    </div>
    </div>
</body>
</html>